.svg-avatar {
	background: url("../../build/assets/sprite-39ddd181.svg") 61.53846153846154% 95.54318788958147% no-repeat;
}

.svg-avatar-dims {
	width: 50px;
	height: 50px;
}

.svg-background {
	background: url("../../build/assets/sprite-39ddd181.svg") 0 0 no-repeat;
}

.svg-background-dims {
	width: 2000px;
	height: 1001.95px;
}

.svg-blue-2 {
	background: url("../../build/assets/sprite-39ddd181.svg") 21.05263157894737% 99.99534016775397% no-repeat;
}

.svg-blue-2-dims {
	width: 100px;
	height: 100px;
}

.svg-blue-4 {
	background: url("../../build/assets/sprite-39ddd181.svg") 42.10526315789474% 99.99534016775397% no-repeat;
}

.svg-blue-4-dims {
	width: 100px;
	height: 100px;
}

.svg-blue-6 {
	background: url("../../build/assets/sprite-39ddd181.svg") 5.2631578947368425% 99.99534016775397% no-repeat;
}

.svg-blue-6-dims {
	width: 100px;
	height: 100px;
}

.svg-blue-8 {
	background: url("../../build/assets/sprite-39ddd181.svg") 31.57894736842105% 99.99534016775397% no-repeat;
}

.svg-blue-8-dims {
	width: 100px;
	height: 100px;
}

.svg-blue-check {
	background: url("../../build/assets/sprite-39ddd181.svg") 70.54619703930577% 94.78356890459364% no-repeat;
}

.svg-blue-check-dims {
	width: 41px;
	height: 41px;
}

.svg-blue-x {
	background: url("../../build/assets/sprite-39ddd181.svg") 15.789473684210526% 99.99534016775397% no-repeat;
}

.svg-blue-x-dims {
	width: 100px;
	height: 100px;
}

.svg-blue-x-16 {
	background: url("../../build/assets/sprite-39ddd181.svg") 83.10362429811128% 94.78356890459364% no-repeat;
}

.svg-blue-x-16-dims {
	width: 41px;
	height: 41px;
}

.svg-blue-x-4 {
	background: url("../../build/assets/sprite-39ddd181.svg") 85.19652884124554% 94.78356890459364% no-repeat;
}

.svg-blue-x-4-dims {
	width: 41px;
	height: 41px;
}

.svg-blue-x-64 {
	background: url("../../build/assets/sprite-39ddd181.svg") 87.28943338437979% 94.78356890459364% no-repeat;
}

.svg-blue-x-64-dims {
	width: 41px;
	height: 41px;
}

.svg-combined-shape {
	background: url("../../build/assets/sprite-39ddd181.svg") 13.21608040201005% 86.32416165090284% no-repeat;
}

.svg-combined-shape-dims {
	width: 10px;
	height: 10px;
}

.svg-combined-shape_2 {
	background: url("../../build/assets/sprite-39ddd181.svg") 13.21608040201005% 85.56362083689154% no-repeat;
}

.svg-combined-shape_2-dims {
	width: 10px;
	height: 2px;
}

.svg-copy {
	background: url("../../build/assets/sprite-39ddd181.svg") 11.738035264483628% 86.52417962003454% no-repeat;
}

.svg-copy-dims {
	width: 15px;
	height: 15px;
}

.svg-default {
	background: url("../../build/assets/sprite-39ddd181.svg") 8.484848484848484% 89.58803122289679% no-repeat;
}

.svg-default-dims {
	width: 20px;
	height: 20px;
}

.svg-default_2 {
	background: url("../../build/assets/sprite-39ddd181.svg") 7.474747474747475% 89.58803122289679% no-repeat;
}

.svg-default_2-dims {
	width: 20px;
	height: 20px;
}

.svg-default_3 {
	background: url("../../build/assets/sprite-39ddd181.svg") 64.1025641025641% 95.54318788958147% no-repeat;
}

.svg-default_3-dims {
	width: 50px;
	height: 50px;
}

.svg-default_4 {
	background: url("../../build/assets/sprite-39ddd181.svg") 8.700050581689428% 86.89939288811796% no-repeat;
}

.svg-default_4-dims {
	width: 23px;
	height: 20px;
}

.svg-default_5 {
	background: url("../../build/assets/sprite-39ddd181.svg") 7.489878542510121% 86.89939288811796% no-repeat;
}

.svg-default_5-dims {
	width: 24px;
	height: 20px;
}

.svg-default_6 {
	background: url("../../build/assets/sprite-39ddd181.svg") 10.892586989409985% 86.59896283491788% no-repeat;
}

.svg-default_6-dims {
	width: 17px;
	height: 16px;
}

.svg-default_7 {
	background: url("../../build/assets/sprite-39ddd181.svg") 9.853461344113189% 86.82409012131716% no-repeat;
}

.svg-default_7-dims {
	width: 21px;
	height: 19px;
}

.svg-green {
	background: url("../../build/assets/sprite-39ddd181.svg") 52.63157894736842% 99.99534016775397% no-repeat;
}

.svg-green-dims {
	width: 100px;
	height: 100px;
}

.svg-green-1024 {
	background: url("../../build/assets/sprite-39ddd181.svg") 74.73200612557427% 94.78356890459364% no-repeat;
}

.svg-green-1024-dims {
	width: 41px;
	height: 41px;
}

.svg-green-check {
	background: url("../../build/assets/sprite-39ddd181.svg") 76.82491066870853% 94.78356890459364% no-repeat;
}

.svg-green-check-dims {
	width: 41px;
	height: 41px;
}

.svg-green-invert {
	background: url("../../build/assets/sprite-39ddd181.svg") 12.493702770780857% 86.52417962003454% no-repeat;
}

.svg-green-invert-dims {
	width: 15px;
	height: 15px;
}

.svg-green-x {
	background: url("../../build/assets/sprite-39ddd181.svg") 47.36842105263158% 99.99534016775397% no-repeat;
}

.svg-green-x-dims {
	width: 100px;
	height: 100px;
}

.svg-logo {
	background: url("../../build/assets/sprite-39ddd181.svg") 0 91.16946160635482% no-repeat;
}

.svg-logo-dims {
	width: 148px;
	height: 40px;
}

.svg-red-1 {
	background: url("../../build/assets/sprite-39ddd181.svg") 36.8421052631579% 99.99534016775397% no-repeat;
}

.svg-red-1-dims {
	width: 100px;
	height: 100px;
}

.svg-red-3 {
	background: url("../../build/assets/sprite-39ddd181.svg") 0 99.99534016775397% no-repeat;
}

.svg-red-3-dims {
	width: 100px;
	height: 100px;
}

.svg-red-5 {
	background: url("../../build/assets/sprite-39ddd181.svg") 26.31578947368421% 99.99534016775397% no-repeat;
}

.svg-red-5-dims {
	width: 100px;
	height: 100px;
}

.svg-red-7 {
	background: url("../../build/assets/sprite-39ddd181.svg") 57.89473684210526% 99.99534016775397% no-repeat;
}

.svg-red-7-dims {
	width: 100px;
	height: 100px;
}

.svg-red-check {
	background: url("../../build/assets/sprite-39ddd181.svg") 72.63910158244002% 94.78356890459364% no-repeat;
}

.svg-red-check-dims {
	width: 41px;
	height: 41px;
}

.svg-red-x {
	background: url("../../build/assets/sprite-39ddd181.svg") 10.526315789473685% 99.99534016775397% no-repeat;
}

.svg-red-x-dims {
	width: 100px;
	height: 100px;
}

.svg-red-x-128 {
	background: url("../../build/assets/sprite-39ddd181.svg") 68.45329249617151% 94.78356890459364% no-repeat;
}

.svg-red-x-128-dims {
	width: 41px;
	height: 41px;
}

.svg-red-x-2 {
	background: url("../../build/assets/sprite-39ddd181.svg") 66.36038795303726% 94.78356890459364% no-repeat;
}

.svg-red-x-2-dims {
	width: 41px;
	height: 41px;
}

.svg-red-x-32 {
	background: url("../../build/assets/sprite-39ddd181.svg") 81.01071975497703% 94.78356890459364% no-repeat;
}

.svg-red-x-32-dims {
	width: 41px;
	height: 41px;
}

.svg-red-x-8 {
	background: url("../../build/assets/sprite-39ddd181.svg") 78.91781521184278% 94.78356890459364% no-repeat;
}

.svg-red-x-8-dims {
	width: 41px;
	height: 41px;
}

.svg-test-logo {
	background: url("../../build/assets/sprite-39ddd181.svg") 0 87.73642732049036% no-repeat;
}

.svg-test-logo-dims {
	width: 148px;
	height: 31px;
}

