.icon {
	display: inline-block;
	width: 1em;
	height: 1em;
	fill: currentColor;
}

.icon-icon {
	font-size:(54/10)*1rem;
	width:(54/54)*1em;
}
.icon-plus {
	font-size:(14/10)*1rem;
	width:(14/14)*1em;
}
